<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 style="visibility: hidden;">Welcome</h1>

      <h2 class="subtitle">Please sign in to have fun clicking.</h2>

      <div id="countdown">Welcome</div>


      <%= link_to new_user_registration_path, :class => 'btn btn-theme' do %>
          Sign Up
      <% end %>

      <%= link_to new_user_session_path, :class => 'btn btn-theme' do %>
          <span class="glyphicon glyphicon-share-alt"></span> Login
      <% end %>


    </div>
  </div>
</div>
