#chart1 {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px
}

#mybtn {
    padding: 7px;
    border-radius: 5px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#mybtn:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#prev:hover {
    opacity: 0.6;
}

#next:hover {
    opacity: 0.6;
}

#devise {
    padding-top: 10px;
    color: #dff0d8 !important;
}

#stat {
    background-color: #BBBBBB;
    padding: 50px;
}

a {
    color: #1E4680 !important;
}


