<!DOCTYPE html>
<html>
<head>
  <title>DevBBQ</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link class="include" rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link href="https://s3-us-west-2.amazonaws.com/user-upload786/WeBuild/assets/css/style.css" rel="stylesheet">

  <style>

  </style>

</head>
<body>

<div id="wrapper">
  <%= yield %>
</div>



<script>
  $(document).ready(function () {
    screenheight = $(window).height();
    padding = screenheight / 5;
    $('#wrapper').css('padding-top', padding);
  });
</script>

</body>
</html>
